<p id="notice"><%= notice %></p>
<div class="contact">
  <dl>
    <dt>Name:</dt>
    <dd><%= @contact.name %></dd>
    <dt>Email:</dt>
    <dd><%= @contact.email %></dd>
    <dt>Mobile Phone:</dt>
    <dd><%= @contact.cell_number %>(<%= @contact.cell_carrier %>)</dd>
    <dt>IM:</dt>
    <dd><%= @contact.im %></dd>
  </dl>
</div>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
