<%= form_for(@proclamation) do |f| %>
  <% if @proclamation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proclamation.errors.count, "error") %> prohibited this proclamation from being saved:</h2>

      <ul>
      <% @proclamation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <dl>
    <dt>Recipient:</dt>
    <dd><%= contacts_select f %></dd>
    <dt>Message text:</dt>
    <dd class='textarea'><%= f.text_area :full_text, cols: 40, rows: 10 %></dd>
    <dt>Send via:</dt>
    <dd><%= check_box_tag 'proclamation[options][via][]', 'email' %> Email</dd>
    <dd><%= check_box_tag 'proclamation[options][via][]', 'sms' %> Text</dd>
    <dd><%= check_box_tag 'proclamation[options][via][]', 'im' %> Instant Message</dd>
  </dl>

  <dl class="actions">
    <dd><%= f.submit 'Hear Ye!' %></dd>
  </dl>
<% end %>
